#weasl-container > iframe.weasl-iframe-takeover {
  width: 100vw;
  height: 100vh;
  display: initial;
  top: 0;
  left: 0;
}

#weasl-container > iframe.weasl-iframe-info-msg {
  width: initial;
  height: 12vh;
  display: initial;
  bottom: 20px;
  left: 20px;
}

#weasl-container > iframe {
  position: absolute;
  width: 0;
  height: 0;
  display: none;
  border: none;
}